

header {
    z-index: 2;
    height: 10vh;
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: rgb(25, 25, 25);
    
}
/* flex-wrap: wrap;*/

header button:hover {
    background-color: rgb(162, 106, 2);
    color: whitesmoke;
  }


 /* @media screen and (max-width: 650px) {
    #navhome {
        display: flex;
        flex-wrap: wrap;         
    }
}*/




nav {
    display: flex;
    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}


nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary);
}


#home-link {
    margin-right: 30px;
    font-size: 20px;  
    font-weight: 500;
}

#about-link {
    margin-right: 30px;
    font-size: 20px;  
    font-weight: 500;
}

#contact-link {
    margin-right: 50px;
    font-size: 20px;  
    font-weight: 500;
}

#api-link {
    margin-right: 50px;
    font-size: 20px;  
    font-weight: 500;
}
