h3{
   font-size: 20px;
   padding: 7px;
}
h2{
    margin-bottom: 20px;
}



#practicar{
    margin-top: 10vh;
    font-size: 30px;
}

#favorita{
    font-size: 40px;
    margin: -20px;
}

#recuerda{
    margin-top: 10vh;
}