#cabeceraNutri{
    width: 70%;
    display: flex;
    
    
    align-items:center;
    justify-content: space-between;
}

#cabeceraNutri h1{
    margin-top: 30px;
}

#direccion{
    font-size: 20px;
    margin-top: 70px;
width: 100%;
    text-align: right;
}

#formulario{
    background-color: rgb(187, 185, 185);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: autopx;
    border: 1px grey;
    margin-top: 50px;
}

#my-input-name{
    margin: 15px;
    background-color: rgb(227, 224, 224);
    border-radius: 0%;
}
#my-input-first-name{
    margin: 15px;
    background-color: rgb(227, 224, 224);
    border-radius: 0%;
}
#my-input-e-mail{
    margin: 15px;
    background-color: rgb(227, 224, 224);
    border-radius: 0%;
}
#my-input-comentarios{
    height: 150px;
    margin: 15px;
    background-color: rgb(227, 224, 224);
    border-radius: 0%;
}



 