#imagenPrincipal{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110%;
}

#contenedorFrutas {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    margin-top: -40px;
  
}

#frutas {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*ANIMACION*/
@keyframes encoger {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }
  
  #contenedorFrutas {
    animation: encoger 1s forwards;
  }
/*HASTA AQUI ANIMACION*/

#texto{
    padding-top: 100px;
}

#parrafo {
    font-size: 25px;
    padding: 10px;
}

.imagenFrutas > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
   
    gap: 20px;
  }
 
  /* grid-template-columns: repeat(auto-fi, minmax(200px, 1fr))*/

.imagenFrutas img{
   max-height: 200 px;
   max-width: 200px;
   object-fit: cover;
}

#fruits-container{
  margin-top: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    align-items: end;
}



#fruits-container img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
  }
  #fruits-container li {
    text-align: center;
  }
  
  #fruits-container h3 {
    font-size: 15px;
  }
  
  #fruits-container h4 {
    font-size: 12px;
  }
  
 
  #eligeFruta{
    margin-top: 50px;
  }
 
  




