
#contenedorNaranjo {
    position: relative;
    width: 110%;
    height: 40vh;
    overflow: hidden;
    padding: 150px;
    margin-top: -40px;
  
}

#naranjo {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about {
    font-size: 20px;
    width: 700px;
    margin-top: 20px;
    text-align:justify;
}